body {
	background: lightgrey;
}

/* Navigation Bar Styles */

.navbar.navbar-expand-lg.navbar-light.bg-white {
	padding: 0%;
}
.navbar-brand {
	background-color: #cae00f;
	padding: 0px 30px 0px 30px;
}

.jumbotron {
	background-color: white;
}

.img-thumbnail {
	float: left;
	max-width: 35%;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
	display: block;
}

.card-body {
	background-color: #cae00f;
	text-align: center;
}

/* footer Styles */
.footer-section {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #666666;
	color: white;
	text-align: center;
	border-top: 20px solid #cae00f;
	padding: 20px 20px 20px 20px;
}
