body {
	background: lightgoldenrodyellow;
}

.navbar.navbar-expand-lg.navbar-light.bg-light{
	padding: 0%;

}
.navbar-brand {
	margin-left: 5%;
	background-color: #CAE00F;
	padding: 20px 30px 20px 30px;
}

.navbar-nav {
	margin-left: 70%;
}

/* .navbar-links a {
	line-height: 0px;
	color: #999;
	text-decoration: none;
	border-left: 1px solid #efefef;
	margin-top: 30px;
  } */